@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Montserrat',sans-serif;
    box-sizing:border-box;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(bg.jpg);
    background-position:center;
    background-size: cover;
    
}
.container{
    width:560px;
    height:3500px;
    margin:7% auto;
    background:#f8f8ff;
    border-radius:5px;
    position:relative;
    overflow:hidden;

}
h3{
    text-align:center;
    margin-bottom:40px;
    color:turquoise;
    font-weight:bold;
    letter-spacing: 0.2rem;
    line-height: 1rem;
}
h5{
    text-align:center;
    margin-bottom:40px;
    margin-top: 40px;
    color:turquoise;
    font-weight:bold;
    letter-spacing: 0.2rem;
    line-height: 1rem;
    text-transform:uppercase;
}
.container form{
    width:380px;
    position:absolute;
    top:80px;
    left:90px;
    transition:0.5s;
}

form input[type=text],[type=email],[type=phone],[type=number]{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    border:0;
    border-bottom: 1px solid black;
    outline:none;
    background:transparent;
}
form input[type=checkbox]{
    margin:1rem;
    padding:1.5rem;
}

form select{
    display:block;
    width:100%;
    box-sizing:border-box;
    border:1px solid #c4c4c4;
    border-radius:8px;
    padding:0.75rem;
    margin:5px 0;
    font-size:0.9rem;
}
form textarea{
    display:block;
    width:100%;
    box-sizing:border-box;
    border:1px solid #c4c4c4;
    border-radius:8px;
    padding:0.75rem;
    margin:5px 0;
    font-size:0.9rem;
}
::placeholder{
    color:#000;
}
.btn-box{
    width:100%;
    margin:30px auto;
    text-align: center;

}
form button{
    width:130px;
    height:45px;
    margin:0 10px;
    background:linear-gradient(to right,#77eed8,#9eabe4);
    border-radius:30px;
    border:0;
    outline:none;
    color:#000;
    cursor:pointer;
    font-weight: bold;
    letter-spacing: 2px;
}
